<mat-toolbar>
    <button mat-icon-button class="menu-icon" aria-label="menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Coffee App</span>
    <span class="spacer"></span>

    <a routerLink="/favorite">
    <button mat-icon-button class="favorite-icon" aria-label="heart icon">
      <mat-icon>favorite</mat-icon>
    </button></a>
    
    <a routerLink="/cart">
    <button mat-icon-button class="material-icons" ria-label="basket icon">
      <mat-icon>shopping_basket</mat-icon>
    </button></a>

    <a routerLink="/profile">
    <button mat-icon-button class="material-icons" ria-label="profile icon">
      <mat-icon>account_circle</mat-icon>
    </button></a>

    <a routerLink="/home"><button mat-icon-button class="material-icons" ria-label="home icon">
      <mat-icon>home</mat-icon>
    </button></a>
</mat-toolbar>
  
  