.detail {
  background-color: #EEE;
  width: 600px;
  height: 500px;
  margin-left: 25%;
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

h2 {
  color: chocolate;
  position: relative;
  display: flex;
  justify-content: center;


}

.elements {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  display: flex;
  align-content: center;
  color: black;
  margin-bottom: 10px;
  width: 350px;
}

.buttons {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 150px;
}
button {
  
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row;
  margin-top: 20px;
  font-family: Arial;
  background-color: white;
  color: #8c7e61;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
