<p>Leave your feedback</p>



<div class="rating-area">-->
 <input type="radio" id="star-5" name="rating" value="5">
 <label for="star-5" title="Оцінка «5»"></label>
 <input type="radio" id="star-4" name="rating" value="4">
 <label for="star-4" title="Оцінка «4»"></label>
 <input type="radio" id="star-3" name="rating" value="3">
 <label for="star-3" title="Оцінка «3»"></label>
 <input type="radio" id="star-2" name="rating" value="2">
 <label for="star-2" title="Оцінка «2»"></label>
 <input type="radio" id="star-1" name="rating" value="1">
 <label for="star-1" title="Оцінка «1»"></label>
</div>


<input type="text" [placeholder]="'Ми будемо вдячні за ваш відгук!'">
<button type="submit">Відправити</button>

