h2 {
  color: chocolate;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.drinks {
  margin-bottom: 10px;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  
}

.drinks li {
  text-decoration: none;
  list-style-type: none;
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  border-radius: 4px;
  width: 25%;
  margin-right: 3px;
  margin-bottom: 10px;
}

 .drinks a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  text-decoration: none;
  list-style-type: none;
  padding: 3px;
} 


.title,
.price {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.description {
  color: black;
  font-size: 10px;
  font-style: italic;
  font-weight: none;
  margin-top: 5px;
  margin-bottom: 3px;
}

.card-button {
  color: black;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}

.drinks .favorite-icon {
  float: right;
  color: red;
  
}
/* 


h2 {
  color: brown;
  display: flex;
  left: 45%;
}

}
.drinks li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.drinks li:hover {
  color: #8c7661;
  background-color: #DDD;
  left: .1em;
}

.drinks a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  
}

.drinks a:hover {
  color:#8c7661;
}

.drinks .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#614840;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
} */

