<app-header></app-header>

<!-- <div class="card">
    <img [src]="assetPath + productInfo.imagePath" class="card-img-top" [alt]="productInfo.title">
    <div class="card-body">
        <h5 class="card-title">{{productInfo.title}}</h5>
        <p class="card-text">{{(productInfo.description.length>30)? (productInfo.description | slice:0:30)+'..':(productInfo.description)}}</p>
        <div class="price">{{productInfo.price}}</div>
    </div>
    <div class="card-body">
        <a [hidden]="qtyAddedToCart>0" class="btn btn-success" (click)="addToCart()" role="button">Add to card</a>
        <button [hidden]="qtyAddedToCart==0" type="button" class="btn btn-success">
           <a (click)="removeFromCart()">-</a> <span class="badge badge-light">{{qtyAddedToCart}}</span> <a (click)="addToCart()">+</a>
        </button>
    </div>
</div> -->