<app-header></app-header>

<div class="card">
    <img [src]="assetPath + coffee.imagePath" class="card-img-top" [alt]="coffee.title">
    <div class="card-body">
        <h5 class="card-title">{{coffee.title}}</h5>
        <p class="card-text">{{(coffee.description.length>30)? (coffee.description | slice:0:30)+'..':(coffee.description)}}</p>
        <div class="price">{{coffee.price}}</div>
    </div>
    <div class="card-body">
        <a [hidden]="qtyAddedToCart>0" class="btn btn-success" (click)="addToCart()" role="button">Add to card</a>
        <button [hidden]="qtyAddedToCart==0" type="button" class="btn btn-success">
           <a (click)="removeFromCart()">-</a> <span class="badge badge-light">{{qtyAddedToCart}}</span> <a (click)="addToCart()">+</a>
        </button>
    </div>
</div>