

<nav>
  <a routerLink="/home">{{ 'home' | translate}}</a>
  <a routerLink="/drinks">{{ 'drinks' | translate}}</a>
  <a routerLink="/register">{{ 'account' | translate}}</a> 
</nav>


<!-- <mat-form-field>
  <mat-label>Choose an option</mat-label>
          <mat-select [value]="translateService.getDefaultLang()"
            (valueChange)="switchLang($event)">
          
            <mat-option [value]="'en'">English</mat-option>
            <mat-option [value]="'ru'">Русский</mat-option>
          </mat-select>
  </mat-form-field> -->


































<!-- <div class="home">
<h3>Top Drinks</h3>
<div class="grid grid-pad">
  <a *ngFor="let coffee of drinks" class="col-1-4"
    routerLink="/detail/{{coffee.id}}">
    <div class="module coffee">
      <h4>{{coffee.name}}</h4>
      <h4>{{coffee.price}}</h4>
    </div>
  </a>
</div>
</div> -->
<!--<app-coffee-search></app-coffee-search>-->




