<app-header></app-header>
<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/drinks">Drinks</a>
  <a routerLink="/register">Create an account</a> 
</nav>


































<!-- <div class="home">
<h3>Top Drinks</h3>
<div class="grid grid-pad">
  <a *ngFor="let coffee of drinks" class="col-1-4"
    routerLink="/detail/{{coffee.id}}">
    <div class="module coffee">
      <h4>{{coffee.name}}</h4>
      <h4>{{coffee.price}}</h4>
    </div>
  </a>
</div>
</div> -->
<!--<app-coffee-search></app-coffee-search>-->




